MMResults.RData
GAPIT.Association.Filter_GWAS_results.csv
GAPIT.Association.GWAS_Results.GLM.Anthractnose.csv
GAPIT.Association.GWAS_Results.MLM.Anthractnose.csv
GAPIT.Association.GWAS_Results.MLM.EarHT.csv
GAPIT.Association.GWAS_Results.MLM.ManchaBranca.csv
GAPIT.Association.GWAS_Results.MLM.ManchaParda.csv
GAPIT.Association.GWAS_Results.MLM.QueimaFolhas.csv
GAPIT.Association.GWAS_StdErr.GLM.Anthractnose.csv
GAPIT.Association.GWAS_StdErr.MLM.Anthractnose.csv
GAPIT.Association.GWAS_StdErr.MLM.EarHT.csv
GAPIT.Association.GWAS_StdErr.MLM.ManchaBranca.csv
GAPIT.Association.GWAS_StdErr.MLM.ManchaParda.csv
GAPIT.Association.GWAS_StdErr.MLM.QueimaFolhas.csv
GAPIT.Association.Manhattan_Chro.GLM.Anthractnose.pdf
GAPIT.Association.Manhattan_Chro.MLM.Anthractnose.pdf
GAPIT.Association.Manhattan_Chro.MLM.EarHT.pdf
GAPIT.Association.Manhattan_Chro.MLM.ManchaBranca.pdf
GAPIT.Association.Manhattan_Chro.MLM.ManchaParda.pdf
GAPIT.Association.Manhattan_Chro.MLM.QueimaFolhas.pdf
GAPIT.Association.Manhattan_Geno.GLM.Anthractnose.pdf
GAPIT.Association.Manhattan_Geno.MLM.Anthractnose.pdf
GAPIT.Association.Manhattan_Geno.MLM.EarHT.pdf
GAPIT.Association.Manhattan_Geno.MLM.ManchaBranca.pdf
GAPIT.Association.Manhattan_Geno.MLM.ManchaParda.pdf
GAPIT.Association.Manhattan_Geno.MLM.QueimaFolhas.pdf
GAPIT.Association.Manhattans_Circular.pdf
GAPIT.Association.Manhattans_High.pdf
GAPIT.Association.Manhattans_Symphysic.pdf
GAPIT.Association.Manhattans_Symphysic_Legend.pdf
GAPIT.Association.Manhattans_Symphysic_Traitsnames.csv
GAPIT.Association.Manhattans_Wide.pdf
GAPIT.Association.Optimum.GLM.Anthractnose.pdf
GAPIT.Association.Optimum.MLM.Anthractnose.pdf
GAPIT.Association.Optimum.MLM.EarHT.pdf
GAPIT.Association.Optimum.MLM.ManchaBranca.pdf
GAPIT.Association.Optimum.MLM.ManchaParda.pdf
GAPIT.Association.Optimum.MLM.QueimaFolhas.pdf
GAPIT.Association.Pred.GLM.Anthractnose.csv
GAPIT.Association.Pred.MLM.Anthractnose.csv
GAPIT.Association.Pred.MLM.EarHT.csv
GAPIT.Association.Pred.MLM.ManchaBranca.csv
GAPIT.Association.Pred.MLM.ManchaParda.csv
GAPIT.Association.Pred.MLM.QueimaFolhas.csv
GAPIT.Association.QQ.GLM.Anthractnose.pdf
GAPIT.Association.QQ.MLM.Anthractnose.pdf
GAPIT.Association.QQ.MLM.EarHT.pdf
GAPIT.Association.QQ.MLM.ManchaBranca.pdf
GAPIT.Association.QQ.MLM.ManchaParda.pdf
GAPIT.Association.QQ.MLM.QueimaFolhas.pdf
GAPIT.Association.QQs_Symphysic.pdf
GAPIT.Association.QQs_Tracks.pdf
GAPIT.GLM.Anthractnose.BIC.Model.Selection.Results.csv
GAPIT.Genotype.Density_R_sqaure.pdf
GAPIT.Genotype.Frequency.pdf
GAPIT.Genotype.Kin_Zhang.csv
GAPIT.Genotype.Kin_Zhang.pdf
GAPIT.Genotype.MAF_Heterozosity.pdf
GAPIT.Genotype.PCA.csv
GAPIT.Genotype.PCA_2D.pdf
GAPIT.Genotype.PCA_3D.pdf
GAPIT.Genotype.PCA_eigenValue.pdf
GAPIT.Genotype.PCA_eigenvalues.csv
GAPIT.MLM.Anthractnose.BIC.Model.Selection.Results.csv
GAPIT.Phenotype.View.Anthractnose.pdf
GAPIT.Phenotype.View.EarHT.pdf
GAPIT.Phenotype.View.ManchaBranca.pdf
GAPIT.Phenotype.View.ManchaParda.pdf
GAPIT.Phenotype.View.QueimaFolhas.pdf
